* {
  margin: 0;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: #fff;
}

body {
  height: 100vh;
  display: grid;
  color: #fff;
  background-image: unset;
}

body > * {
  grid-area: 1 / 1;
}

main {
  /* background: red; */
  z-index: -1;
  display: grid;
}

main > * {
  grid-area: 1 /1/-1/-1;
}
/*knapper styling*/
.links a {
  color: #a5845a;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

.links {
  margin-top: 8rem;
  background-color: white;
  border: black 1px solid;
  padding-inline: 20px;
  padding-block: 10px;
  z-index: 1;
  place-self: center;
}

/*hover*/
.links:hover {
  background: #a5845a;
  border: none;
}

.links a:hover {
  color: white;
}

footer {
  place-self: end center;
}

/*knappen i burgermenu skal ikke påvirkes af ovenstående*/
.toggle_knap:hover {
  background: none;
}

/* #videobackground {
  display: grid;
}

#background {
  display: block;
  grid-area: 1/1/-1/-1;
  object-fit: cover;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.9;
  object-fit: cover;
}

.foot {
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
} */
