* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-image: unset;
} */

/* body{
} */

p {
  font-style: italic;
  font-size: 1rem;
}

h1{
  padding-top: 12px;
}

h2,
h3 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
}

section {
  display: grid;
  gap: 0.5rem;
  max-width: 60ch;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(135deg, rgb(247, 243, 233), rgb(247, 243, 233)));
}

dl {
  display: grid;
  gap: 0.35rem;
  font-family: roboto-mono, monospace;
  font-weight: 300;
  font-style: normal;
}

dl > div {
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  gap: 5px;
}

dl > div::before {
  content: "";
  flex: 1;
  border-bottom: 2px dotted #000000;
  min-width: 2ch;
}

dt {
  font-weight: 500;
  order: -1;
}

dt,
dd {
  flex-shrink: 0;
}
