* {
  box-sizing: border-box;

  margin: 0;
}

img {
  display: block;

  width: 100;

  height: auto;
}
/*main grid*/
main {
  display: grid;

  grid-template-columns: 1fr minmax(0, 1000px) 1fr;

  margin-inline: 50px;
}
main section {
  grid-column: 2/3;
}
h1 {
  font-family: neue-haas-grotesk-display, sans-serif;

  font-weight: 600;

  font-style: normal;
}
p {
  font-family: neue-haas-grotesk-display, sans-serif;

  font-weight: 400;

  font-style: normal;
}
h4 {
  font-family: roboto-mono, monospace;

  font-weight: 300;

  font-style: normal;
}
footer {
  font-family: roboto-mono, monospace;

  font-weight: 300;

  font-style: normal;
  text-align: center;
}
