.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 4rem;
  padding-bottom: 8rem;
  gap: 1.5rem;
}
.text img {
  width: 100%;
}
h1 {
  margin-top: 3.2rem;
  text-align: center;
  z-index: 20;
}
h2 {
  padding-bottom: 2.5rem;
  text-align: center;
}

.kaffeposer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/3;
  gap: 4rem;
  margin-bottom: 2rem;
}
