.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 4rem;
  padding-bottom: 8rem;
  gap: 1.5rem;
}
.text img {
  width: 100%;
}
h1 {
  text-align: center;
  z-index: 10;
}

.kaffeposer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/3;
  gap: 4rem;
}
