/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 270px;
  right: 400px;
  left: 400px;
  background-color: white;
  color: black;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  opacity: 60%;
  line-height: 2.2rem;
}
h1 {
  text-align: center;
}
