/*indsætter background image*/
body {
  background-image: url(/img/bodyimg.svg);
  max-width: 100%;
  background-size: 100%;
  background-repeat: repeat-y;
}

/*overskift udover nav*/
h1 {
  z-index: 10;
}

/*introduktion layout*/
.section_1 {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 600px) 1fr;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

/*sat i grid, og placeres derfor i midten*/
.section_1 h1 {
  grid-column: 2/3;
}
.section_1 p {
  grid-column: 2/3;
}

/*mellemrum mellem billeder+tekst i mobil*/
h2 {
  margin-top: 0.5rem;
}

p {
  margin-bottom: 3rem;
}

/*kontaktformular*/
/*placeres i main grid, og laver samtidigt sit eget grid*/
.contact {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
/*overskiften til sektionen*/
.contact h2 {
  grid-column: 1/6;
  text-align: center;
}
/*felternes font, og placeres i contacts grid*/
.form_felt {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;

  display: grid;
  grid-column: 1/6;
}
/*inputfelternes grå font, og en tyk border*/
.form_felt input {
  border: black 2px solid;
  padding: 5px;

  font-family: roboto-mono, monospace;
  font-weight: 300;
  font-style: normal;
}
/*indsend knappens layput*/
button {
  grid-column: 2/5;
  margin-top: 10px;
  background: white;
  border: 1px solid black;
  padding: 10px;

  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.3rem;
  color: #a5845a;
}
button:hover {
  background: #a5845a;
  color: white;
  border: none;
}

/*knappen i burgermenu skal ikke påvirkes af ovenstående*/
.toggle_knap:hover {
  background: none;
}

/*media query*/
@media (min-width: 600px) {
  /*først i web skal vi bruge grid*/
  .section_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
  }

  /*billeder+teksts placering i griddet*/
  h2 {
    margin-top: 0;
  }

  .img_2 {
    grid-column: 2/3;
  }

  .img_3 {
    grid-column: 1/2;
  }

  .img_4 {
    grid-column: 2/3;
  }

  .text_2 {
    grid-row: 2/3;
  }

  .text_4 {
    grid-row: 4/5;
  }

  /*billeder+tekst i grid, mellemrum imellem*/
  .img_1,
  .text_1 {
    margin-bottom: 40px;
  }

  .img_2,
  .text_2 {
    margin-bottom: 40px;
  }

  .img_3,
  .text_3 {
    margin-bottom: 40px;
  }

  /*formular layout*/
  .contact {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  /*de små overskifters font og placering i contacts grid*/
  .form_felt {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;

    display: grid;
    grid-column: 2/5;
  }
  /*sektionens overskift*/
  .contact h2 {
    grid-column: 2/5;
    text-align: center;
  }
  /*inputfelternes grå font og tykke border*/
  .form_felt input {
    border: black 2px solid;
    padding: 5px;

    font-family: roboto-mono, monospace;
    font-weight: 300;
    font-style: normal;
  }
  /*indsend knappens udseende*/
  button {
    grid-column: 2/5;
    margin-top: 10px;
    background: white;
    border: 1px solid black;
    padding: 10px;

    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    color: #a5845a;
  }

  button:hover {
    background: #a5845a;
    color: white;
    border: none;
  }
}
